include *.rst
include *.txt
include *.py
include tox.ini
include buildout.cfg

recursive-include docs *
recursive-include src *

global-exclude *.dll
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
