include *.rst
include *.txt
include *.py
include tox.ini
include buildout.cfg
include .travis.yml
include .coveragerc

recursive-include docs *
recursive-include src *

global-exclude *.dll
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so

# added by check_manifest.py
include *.yml
